<mat-drawer-container class="sidenav-container" autosize data-test-id="drawerContainer">
  <mat-drawer #drawer class="admin-sidenav" [mode]="_mode" [opened]="_opened" data-test-id="drawerSidenav">
    <div class="menu-items-wrapper" [ngClass]="{ 'collapsed' : collapsed }" data-test-id="menuWrapper">
      <div class="sidenav-logo" data-test-id="sidenavLogo">
        <div class="sidenav-toggle" data-test-id="sidenavToggle">
          <button type="button" (click)="collapsed = !collapsed" data-test-id="btnToggleSidenav">
            <img [src]="getUrl()" alt="" data-test-id="imgSidenavToggle">
          </button>
        </div>
        <img src="{{ configPublicUrl + logoImageURL }}" alt="" width="100%" *ngIf="!collapsed" data-test-id="imgLogoExpanded">
        <img src="{{ configPublicUrl + thumbnailLogoURL }}" alt="" width="100%" *ngIf="collapsed" data-test-id="imgLogoCollapsed">
      </div>

      <ul class="admin-nav" data-test-id="adminNav">
        <app-sidebar-menu-list 
          (toggleSidebar)="toggleSidebar()" 
          [drUnread]="drUnread" 
          [pvs]="pvs" 
          [menus]="sidebarMenus" 
          [adminUnread]="adminUnread"
          data-test-id="sidebarMenuList">
        </app-sidebar-menu-list>

        <li class="nav-item" (click)="toggleSidebar()" data-test-id="listItemLogout">
          <mat-divider class="mb-2" data-test-id="dividerLogout"></mat-divider>
          <a class="nav-item-link" href="javascript:void(0)" (click)="logout()" data-test-id="linkLogout">
            <img src="assets/svgs/power.svg" alt="" data-test-id="iconLogout">
            <span data-test-id="lblLogout">{{'Log-out' | translate}}</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-drawer>

  <div class="admin-sidenav-content" data-test-id="sidenavContent">
    <div class="header-main" data-test-id="headerMain">
      <nav class="navbar navbar-expand-lg navbar-light" aria-label="Header menu" data-test-id="navHeader">
        <a class="navbar-brand" data-test-id="navbarBrand">
          <button class="mr-2" mat-icon-button (click)="drawer.toggle()" *ngIf="isMobile" data-test-id="btnToggleDrawer">
            <mat-icon>menu</mat-icon>
          </button>

          <div id="searchPatientsSection" class="header-title d-flex justify-content-between align-items-center" *ngIf="header?.title" data-test-id="headerTitleSection">
            <ng-container *ngIf="header.title != 'Dashboard'">
              <img src="{{header?.imgUrl}}" alt="" width="44px" data-test-id="imgHeaderIcon">
              <h6 class="mb-0 ml-2" data-test-id="lblHeaderTitle">{{header?.title | translate}}</h6>
              <mat-icon *ngIf="header?.info" aria-hidden="false" aria-label="help icon" data-test-id="iconHeaderHelp">help_outline</mat-icon>
            </ng-container>

            <ng-container *ngIf="header.title == 'Dashboard'" data-test-id="dashboardSearchSection">
              <form [formGroup]="searchForm" data-test-id="formSearchPatient">
                <div class="input-group" data-test-id="searchInputGroup">
                  <input type="text" class="form-control" formControlName="keyword"
                    placeholder="{{'Search patient'| translate}}" aria-label="Username" aria-describedby="basic-addon1"
                    (keyup.enter)="search()" data-test-id="etSearchPatient">
                  <div class="input-group-append">
                    <span class="input-group-text click p-0" id="basic-addon1" *ngIf="searchForm.value.keyword"
                      (click)="resetSearch()" data-test-id="spanResetSearchPatient">
                      <mat-icon class="ml-0" style="line-height: normal;">close</mat-icon>
                    </span>
                    <span class="input-group-text click" id="basic-addon2" (click)="search()" data-test-id="spanSearchPatient">
                      <img src="assets/svgs/search-icon.svg" alt="" width="20px" height="20px" data-test-id="iconSearchPatient">
                    </span>
                  </div>
                </div>
              </form>
            </ng-container>
          </div>

          <nav aria-label="breadcrumb" *ngIf="!header?.title" data-test-id="breadcrumbNav">
            <ol class="breadcrumb">
              <ng-container *ngFor="let breadcrumb of breadcrumbs; let x=index; let last=last;">
                <li class="breadcrumb-item" *ngIf="!last">
                  <a [routerLink]="breadcrumb.url" data-test-id="{{'breadcrumb'+x}}">{{ breadcrumb.label | translate}}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page" *ngIf="last" data-test-id="breadcrumbActive">
                  {{ breadcrumb.label | translate }}
                </li>
              </ng-container>
            </ol>
          </nav>
        </a>

        <button class="navbar-toggler" type="button" mat-icon-button data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" data-test-id="btnToggleNavbar">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" data-test-id="navbarCollapse">
          <ul class="navbar-nav ml-auto" data-test-id="navbarRight">
            <li class="nav-item">
              <div class="d-flex align-items-center justify-content-end" data-test-id="navActions">
                <button mat-button class="help-tour-button mr-1 p-1" (click)="tourSvc.initHelpTour()" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" data-test-id="btnHelpTour">
                  <img src="assets/svgs/help-tour.svg" alt="Help Tour" data-test-id="iconHelpTour">
                </button>

                <button mat-button class="notification-button mr-1" (click)="openHelpMenu()" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" data-test-id="btnHelpMenu">
                  <mat-icon>help_outline</mat-icon> 
                  <div class="dot" *ngIf="doctorAdminUnread" data-test-id="lblUnreadHelpMenu">{{doctorAdminUnread}}</div>
                </button>

                <button mat-button [matMenuTriggerFor]="notificationmenu" class="notification-button mr-3" data-test-id="btnNotificationSnooze">
                  <mat-icon *ngIf="notificationEnabled && !snoozed">notifications_none</mat-icon>
                  <mat-icon *ngIf="notificationEnabled && snoozed">notifications_paused</mat-icon>
                  <mat-icon *ngIf="!notificationEnabled">notifications_off</mat-icon>
                </button>

                <mat-menu #notificationmenu="matMenu" class="notification-menu" data-test-id="menuNotification">
                  <ng-container *ngIf="notificationEnabled && !snoozed">
                    <button mat-menu-item (click)="snoozeNotification('30m')" data-test-id="btnSnooze30m">{{ "Snooze for 30 Minutes" | translate }}</button>
                    <button mat-menu-item (click)="snoozeNotification('1h')" data-test-id="btnSnooze1h">{{ "Snooze for 1 Hour" | translate }}</button>
                    <button mat-menu-item (click)="snoozeNotification('2h')" data-test-id="btnSnooze2h">{{ "Snooze for 2 Hours" | translate }}</button>
                    <button mat-menu-item (click)="toggleNotification()" data-test-id="btnTurnOffNotification">{{ "Turn Off" | translate }}</button>
                  </ng-container>
                  <ng-container *ngIf="notificationEnabled && snoozed">
                    <button mat-menu-item (click)="snoozeNotification('off')" data-test-id="btnAwakeNotification">{{ "Awake notification" | translate }}</button>
                    <button mat-menu-item (click)="toggleNotification()" data-test-id="btnTurnOffNotificationSnoozed">{{ "Turn Off" | translate }}</button>
                  </ng-container>
                  <ng-container *ngIf="!notificationEnabled">
                    <button mat-menu-item (click)="toggleNotification()" data-test-id="btnTurnOnNotification">{{ "Turn On" | translate }}</button>
                  </ng-container>
                </mat-menu>

                <div class="user-info-wrap mr-3" routerLink="/dashboard/profile" data-test-id="navProfile">
                  <img class="user-img mr-3" src="{{profilePic}}" alt="" data-test-id="imgProfilePic">
                  <h6 class="user-title mb-0" data-test-id="lblProfileGreeting">{{'Hello' |translate}}, {{ (user)? user?.person?.display : ('User'|translate) }} 
                    <img src="assets/images/Waving-Hand-Emoji.png" alt="" height="100%" data-test-id="imgWaveEmoji">
                  </h6>
                </div>

                <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Profile menu button" data-test-id="btnProfileDropdown">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #beforeMenu="matMenu" xPosition="before" class="profile-dropdown" data-test-id="menuProfileDropdown">
                  <button mat-menu-item (click)="changePassword()" data-test-id="btnChangePasswordMain">{{'Change Password' | translate}}</button>
                  <button mat-menu-item (click)="selectLanguage()" data-test-id="btnSelectLanguageMain">{{'Change Language' | translate}}</button>
                  <button mat-menu-item routerLink="/dashboard/profile" data-test-id="btnProfileMain">{{'Profile' | translate}}</button>
                </mat-menu>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="main-container" [class.pb-0]="this.routeUrl?.includes('messages')||this.routeUrl?.includes('support')" data-test-id="mainContainer">
      <router-outlet data-test-id="routerOutlet"></router-outlet>
    </div>
  </div>
</mat-drawer-container>
