<div class="container-fluid" data-test-id="conDashboardWelcome">
  <div class="row" data-test-id="rowDashboardWelcome">
    <div class="col-md-8 p-0" data-test-id="colWelcomeBanner">
      <div class="welcome-banner-con" data-test-id="bannerWelcome">
        <span data-test-id="btnCloseWelcomeBanner">x</span>
        <h6 data-test-id="txtWelcomeMsg">
          {{greetingMsg | translate}}, {{doctorName|titlecase}}! 
          <img src="assets/images/Waving-Hand-Emoji.png" alt="" height="100%">
        </h6>
        <p data-test-id="txtCompleteActions">
          {{'Complete the following actions to start treating the patients' | translate}}
        </p>
      </div>
    </div>

    <div class="col-md-8 p-0" data-test-id="colSetupProfile">
      <div *ngIf="pc" class="card intel-horz-card my-3" data-test-id="cardSetupProfile">
        <div class="d-flex flex-row">
          <div class="pr-3">
            <img src="assets/svgs/user-pink-circle.svg" alt="..." width="44px" data-test-id="icoProfileSetup">
          </div>
          <div>
            <div class="card-body p-0">
              <h6 class="card-title" data-test-id="ttlSetupProfile">{{'Set up your profile'|translate}}</h6>
              <p class="card-text" data-test-id="txtSetupProfileDesc">
                {{'You need to set-up your profile by adding few details of yours & start receiving the patient prescription requests.' |translate}}
              </p>
              <button type="button" class="intel-blue-btn" (click)="setupProfile()" [disabled]="!pc" data-test-id="btnSetupProfile">
                {{'Setup profile'| translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 p-0" *ngxPermissionsExcept="['ORGANIZATIONAL:MCC']" data-test-id="colSetupCalendar">
      <div class="card intel-horz-card my-3" [class.disabled]="!sc" data-test-id="cardSetupCalendar">
        <div class="d-flex flex-row">
          <div class="pr-3">
            <img src="assets/svgs/calendar-pink-circle.svg" alt="..." width="44px" data-test-id="icoCalendarSetup">
          </div>
          <div>
            <div class="card-body p-0">
              <h6 class="card-title" data-test-id="ttlSetupCalendar">{{'Set up your calendar' | translate}}</h6>
              <p class="card-text" data-test-id="txtSetupCalendarDesc">
                {{'You need to set-up your calendar so you can start taking appointments of the patients.' | translate}}
              </p>
              <button type="button" class="intel-blue-btn" (click)="setupCalendar()" [disabled]="!sc" data-test-id="btnSetupCalendar">
                {{'Setup calendar' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
