<div *ngIf="!filePath" class="pre-upload-image" data-test-id="conPreUpload">
  <button type="button" class="btn btn-upload-image" (click)="fileUpload.click()" data-test-id="btnUploadTrigger">+</button>
  <input type="file" class="file-upload" (change)="onFileSelected($event)" #fileUpload data-test-id="inputFileUpload">
  <span class="upload-msg" data-test-id="msgUpload">{{options.uploadMsg | translate}}</span>
</div>

<div *ngIf="filePath" class="post-upload-image" data-test-id="conPostUpload">
  <div class="uploaded-image" data-test-id="conUploadedImage">
    <div class="image-details" data-test-id="conImageDetails">
      <img class="image-preview" src="{{fileURL}}" onerror="this.src='assets/images/no-image.jpg';" data-test-id="imgPreview"/>
      <div class="upload-msg" data-test-id="conUploadMsg">
        <span class="file-name" data-test-id="spFileName">{{fileName}}</span>
        <span class="text-danger upload-status" *ngIf="isUploadFailed" data-test-id="spUploadFailed">{{'Failed' | translate}}</span>
      </div>
    </div>

    <div class="image-action-item" data-test-id="conImageActions">
      <button type="button" class="btn btn-action-item" (click)="refreshUpload()" 
              *ngIf="isUploadFailed && options.operations.indexOf('refresh') !== -1" 
              data-test-id="btnRefreshUpload">
        <img src="assets/svgs/refresh-red.svg" data-test-id="iconRefresh"/>
      </button>

      <button type="button" class="btn btn-action-item" (click)="downloadFile()" 
              *ngIf="options.operations.indexOf('download') !== -1" 
              data-test-id="btnDownloadFile">
        <img src="assets/svgs/download.svg" data-test-id="iconDownload"/>
      </button>

      <button type="button" class="btn btn-action-item" (click)="removeFile()" 
              *ngIf="!isUploadFailed && options.operations.indexOf('remove') !== -1" 
              data-test-id="btnRemoveFile">
        <img src="assets/svgs/close-gray.svg" data-test-id="iconRemove"/>
      </button>
    </div>
  </div>

  <mat-progress-bar *ngIf="(uploadProgress>0 && uploadProgress<100)" 
                    mode="determinate" 
                    value="{{uploadProgress}}" 
                    data-test-id="progressUpload">
  </mat-progress-bar>
</div>
